<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        .main_back{
            height: 100vh;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .main{
            height:500px;
            width: 350px;
            background-color:aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            flex-direction: column;
        }
        form{
            display: flex;
            flex-direction: column;
        }
        input{
            margin: 10px;
            height: 20px;
            width: 300px;
            border: none;
            border-radius: 10px;
            text-align: center;
        }
        button{
            height: 20px;
            width: 70px;
            border-radius: 10px;
            border: none;
            background-color:blueviolet;
        }
        form{
            display: flex;
            align-items: center;
        }
</style>
<div class="main_back">
    <div class="main">
        <h1>submit page</h1>
        <form onsubmit="myF(); return false;">
            <input type="text" id="v1" placeholder="enter pasword">
            <input type="text" id="v2" placeholder="confrom password">
            <button>submit</button>
        </form>
    </div>
</div>
<script>
    const v1 = document.querySelector('#v1');
    const v2 = document.querySelector('#v2');
    const h1 = document.querySelector('h1');

    function myF() {
        if (v1.value === v2.value) {
            h1.innerText = 'Successfully submitted';
            v2.value=""
            v1.value=""
        } else {
            h1.innerText = 'Error';
            v2.value=""
            v1.value=""
            alert('error')
        }
    }
</script>

</body>
</html>