<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        .main_back{
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items:center;
            background:linear-gradient(45deg,#08001f,#30197d);
            color: antiquewhite;
            position: sticky;
        }
        .main{
            height: 20vh;
            width: 45vw;
            position: absolute;
        }
        .main::before{
            content:'';
            height: 100px;
            width: 100px;
            background-color: rgb(27, 180, 211);
            position:absolute;
            left: -29px;
            top:-25px;
            z-index:-1;
        }
        .main::after{
            content:'';
            height: 100px;
            width: 100px;
            background-color: rgb(126, 30, 146);
            position:absolute;
            right: -25px;
            bottom:-25px;
            border-radius: 50%;
            z-index:-1;
        }
        .clock{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:rgba(255, 0, 255,0.11);
            backdrop-filter:blur(40px);
            font-size:10vw;
        }
        .p{
            margin: 15px;
        }
        </style>
    <div class="main_back">
        <div class="main">
            <div class="clock">
                <span id="hrs" class="p">00</span>
                <span>:</span>
                <span id="min" class="p">00</span>
                <span>:</span>
                <span id="sec" class="p">00<span>
            </div>
        </div>
    </div>
    <script>
        let hrs = document.getElementById('hrs')
        let min = document.getElementById('min')
        let sec = document.getElementById('sec')

        setInterval(()=>{
            let currenttime =new Date()
            hrs.innerText=currenttime.getHours()
            min.innerText=currenttime.getMinutes()
            sec.innerText=currenttime.getSeconds()
        },1000)
    </script>
</body>
</html>