<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        .main_back{
            width: 100vw;
            height: 100vh;
            background:linear-gradient(45deg,#08001f,#30197d);
            display: flex;
            justify-content: center;
            align-items: center;
            position:sticky;
        }
        .main{
            height: 250px;
            width: 250px;
            position: absolute;
        }
        .content{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: sticky;
            background-color:rgba(255, 0, 255,0.11);
            backdrop-filter:blur(40px);
            border-radius: 50%;
        }
        .main::before{
            content:'';
            height:60px;
            width: 60px;
            background-color: rgb(27, 180, 211);
            border-radius: 50%;
            position:absolute;
            left: +10px;
            top:+10px;
            z-index:-1;
        }
        .main::after{
            content:'';
            height:60px;
            width: 60px;
            background-color: rgb(27, 73, 211);
            position:absolute;
            right: +10px;
            bottom:+10px;
            z-index:-1;
        }
    </style>
    <div class="main_back">
        <div class="main">
            <div class="content">
                <h1>invalid URL</h1>
            </div>
        </div>
    </div>
</body>
</html>