<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-family: "Jersey 25", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        body {
            background-color: blueviolet;

        }

        nav {
            display: block;
        }

        a {
            text-decoration: none;
        }

        #back {
            height: 4vh;
            width: 4vw;
            border-radius: 10px;
            background-color: rgb(222, 184, 135);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #back:hover {
            background-color: rgb(236, 161, 62);
            cursor: pointer;
        }

        #back a {
            text-decoration: none;
            color: cadetblue;
        }

        #projects {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 70px;
            width: 100%;
        }

        .item-1 {
            display: inline;
        }

        .item-1 img {
            width: 300px;
            /* or height: 500px; */
        }
    </style>
    <div class="main_back">
        <nav>
            <a href="/">
                <div id="back">Back</div>
            </a>
        </nav>
        <div id="projects">
            <div class="center">
                <div class="item-1">
                    <a href="/project/tesk" target="__main"><img src="https://i.imghippo.com/files/njrHC1714040996.png"
                            alt=""></a>
                </div>
                <div class="item-1">
                    <a href="/Project/profile" target="__main"><img
                            src="https://i.imghippo.com/files/YFZBj1714040804.png" alt=""></a>
                </div>
            </div>
            <div class="center">
                <div class="item-1">
                    <a href="/Project/Qrcode" target="__main"><img
                            src="https://i.ibb.co/HDv6mYX/Screenshot-2024-04-26-114452.png" alt=""></a>
                </div>
                <div class="item-1">
                    <a href="/Project/confrompass" target="__main"><img
                            src="https://i.imghippo.com/files/pI6bL1714040487.png" alt=""></a>
                </div>
            </div>
            <div class="center">
                <div class="item-1">
                    <a href="/Project/click" target="__main"><img src="https://i.imghippo.com/files/QPpDE1714040537.png"
                            alt=""></a>
                </div>
                <div class="item-1">
                    <a href="/project/weather" target="__main"><img
                            src="https://i.ibb.co/Jm4VPcy/Screenshot-2024-04-25-215207.png" alt=""></a>
                </div>
            </div>
            <div class="center">
                <div class="item-1">
                    <a href="/project/LIST" target="__main"><img
                            src="https://i.postimg.cc/502L6XMn/Screenshot-2024-04-29-233204.png" alt=""></a>
                </div>
                <div class="item-1">
                    <a href="/project/OTP" target="__main"><img
                            src="https://i.ibb.co/pZRXQr4/Screenshot-2024-04-30-151548.png" alt=""></a>
                </div>
            </div>
            <div class="center">
                <div class="item-1">
                    <a href="/project/timer" target="__main"><img
                            src="https://i.ibb.co/5rKRsTg/Screenshot-2024-04-30-223822.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>