<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main_content{
            padding: 10px 10px 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25vw;
            background-color: aqua;
            flex-direction: column;
            border-radius: 10px;
            margin:25vh;
        }
        h1{
            display: block;
        }
        .input_div{
            width: 98%;
            background: white;
            height: 35px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .input_div button{
            height: 100%;
            width: 80px;
            border: none;
            background-color: blueviolet;
            border-radius: 20px;
        }
        .input_div button:hover{
            background: rgb(52, 74, 218);
            color: antiquewhite;
        }
        .input_div input{
            height: 100%;
            width:22vw;
            border-radius: 20px;
            border: none;
            text-align: center;
            background: transparent;
        }
        li{
            list-style: none;
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(11, 52, 122);
            height: 42px;
            width: 23vw;
            border-radius: 20px;
            margin:18px 0px 12px 0px;
            color: antiquewhite;
            text-decoration: none;
        }
        li:hover{
            background:rgb(11, 122, 94);
        }
        li button{
            height:72%;
            width:30px;
            border-radius:50%;
            border: none;
            margin-left:154px;
        }
        .ll{
            text-decoration: line-through;
        }
    </style>
    <div class="main_content">
        <h1>Write Your Task</h1>
        <div class="input_div">
            <input type="text" id="inputtext" placeholder="Write Your Task">
            <button id="i-btn" onclick="kidk()">Add</button>
            <button id="reset">Reset</button>
        </div>
        <div class="ul_div">
            <ul id="content">
            </ul>
        </div>
    </div>
    <script>
        const input = document.getElementById('inputtext')
        const btn = document.getElementById('i-btn')
        let ul = document.querySelector('ul');
        let body = document.querySelector('body')
        const reset = document.querySelector('#reset')
        let jjc = false

        input.addEventListener('keyup',(e)=>{
            if(e.keyCode == 13){
                kidk()
            }
        })

function kidk() {
    if (input.value === '') {
        alert('Write Your Task');
    } else {
        let ak = document.createElement('li');
        ak.innerText = input.value;
        ul.appendChild(ak);

        // Add event listener to the new list item
        ak.addEventListener('click', function () {
            // Toggle line-through style
            if (ak.style.textDecoration === 'line-through') {
                ak.style.textDecoration = 'none';
            } else {
                ak.style.textDecoration = 'line-through';
            }
        });
        
    }
    input.value = '';
    saveData()
    
}
reset.addEventListener('click',()=>{
            clearTask()
            ul.innerHTML=""
        })
function saveData(){
    localStorage.setItem("data",ul.innerHTML);
}
function showTask(){
    ul.innerHTML = localStorage.getItem("data")
}
showTask()

function clearTask(){
    localStorage.clear()
}
        
    </script>
</body>
</html>