*{
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
}
.main_cover{
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.main_back{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jj{
    border: none;
    border-radius: 10px;
}
input{
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 250px;
    margin: 10px;
}
.submit{
    margin: 8px 0px 0px 20px;
    border: none;
    height: 60px;
    width: 200px;
    background-color: rgb(42, 144, 110);
    border-radius: 10px;
    font-size:30px;
}
.submit:hover{
    border: 3px solid gold;
}