*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blanchedalmond;
    text-align: center;
}
h1{
    height: 50px;
    background-color: darkslategrey;
}
.box{
    border: none;
    background-color: rgb(255, 250, 250);
    color: rgb(0, 0, 0);
    height: 18vmin;
    width: 18vmin;
    border-radius: 9px;
    font-size: 40px;
}
.box:hover{
    background-color: aqua;
    color: rgb(0, 0, 0);
}
.contaner{
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 99, 15);
    border-radius: 9px;
    gap: 1.5vmin;
}
#reset{
    border: none;
    background-color: rgb(198, 169, 64);
    color: cadetblue;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    margin-top: 5px;
    font-size: 20px
}
#reset:hover{
    border: 4px solid paleturquoise;
}


.res{
    background-color: rgb(255, 255, 255);
    height: 55px;
    width:350px;border-radius: 25px;
    margin-left: 9px;
    font-size: 50px;
}
.res_div{
    display: flex;
    justify-content: center;
    margin-top:9px;
}
.br{
    background-color: rgb(0, 255, 13);
    color: wheat;
}
#start{
    border: none;
    background-color:greenyellow;
    color: cadetblue;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 8px;

}
#start:hover{
    border: 4px solid rgb(7, 117, 117);
}